:root {
  font-family: "Cascadia Code";
  
  background-color: #242424;
  color: aliceblue;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::selection {
  background: crimson;
}
/* ---------------------------------Scrollbar-------------------------------- */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(108, 108, 108);
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: crimson;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
